@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: Circular Std;
    src: url(./fonts/Circular-Std-Font/CircularStd-Book.woff);
}
@font-face {
    font-family: Adobe Caslon Pro;
    src: url(./fonts/adobe-caslon-pro/ACaslonPro-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    max-width: 1342px;
    margin: auto;
    padding: 0 16px;
}



/* Header */
.header{
    font-family: Circular Std;
    /* font-weight: 450; */
    padding-top: 16px;
    padding-bottom: 30px;
}

/* Header Top */
.header .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .top .location{
    display: flex;
    align-items: center;
    gap: 6px;
}

.header .top .center{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .top .center .menu{
    display: none;
}


.header .top .icons{
    display: flex;
    align-items: center;
    gap: 45px;
}

.header .top .icons .icon{
    display: flex;
    align-items: center;
}

.header .top .icons .icon.cart{
    display: none;
}

.header .top .icons .icon img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Header Bottom */
.header .bottom{
    margin-top: 9px;
}

.header .bottom .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header .bottom .links .dropdown{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

/* Hero Section */
.hero_section{
    display: flex;
}

.hero_section .left {
    padding-top: 115px;
    /* padding-right:85.63px; */
    padding-right: clamp(0rem, -6.1164rem + 12.7426vw, 5.351875rem);
}

.hero_section .left .hero_heading{
    font-family: Playfair Display;
    /* font-size: 65px; */
    font-size: clamp(2rem, -0.3571rem + 4.9107vw, 4.0625rem);
    font-weight: 400;
    /* line-height: 80px; */
    line-height: clamp(2.66625rem, -0.0009rem + 5.5565vw, 5rem);
} 

.hero_section .left .hero_heading .blue_text{
    font-family: Playfair Display;  
    color: #0071B4;
}

.hero_section .left .hero_text{
    padding-top: 30px;
    font-family: Adobe Caslon Pro;
    /* font-size: 24px; */
    font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
    font-weight: 400;
    /* line-height: 33px; */
    line-height: clamp(1.2rem, 0.2143rem + 2.0536vw, 2.0625rem);
    color: #3D5368;
}

.hero_section .right{
    padding: 52px 0 111px;
    width: 100%;
}

.hero_section .right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Media Query */
@media screen and (max-width: 768px) {
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header .top .location{
        display: none;
    }
    
    .header .top .center .menu{
        display: flex;
    }

    .header .top .center .logo {
        width: 76.85px;
        height: 34px;
    }
    
    .header .top .icons{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header .top .icons .icon.cart{
        display: flex;
    }

    .header .top .icons .icon.heart,
    .header .top .icons .icon.notification,
    .header .top .icons .icon.profile{
        display: none;
    }

    .header .bottom{
        display: none;
    }

    /* Hero Section */
    .hero_section{
        flex-direction: column;
        gap: 28px;
    }
    
    .hero_section .left {
        padding-top: 40px;
        padding-right:0;
    }
    
    .hero_section .left .hero_heading{
        font-size: 32px;
        font-weight: 400;
        line-height: 42.66px;
        text-align: center;
    } 
    
    .hero_section .left .hero_text{
        padding-top: 16px;
        font-family: Adobe Caslon Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: center;
    }
    
    .hero_section .right{
        padding: 0;
        padding-bottom: 42px;
    }
    
    .hero_section .right img{
        height: 279.18px;
    }
}