@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@font-face {
  font-family: Circular Std;
  src: url(./public/fonts/Circular-Std-Font/CircularStd-Book.woff);
}
@font-face {
  font-family: Adobe Caslon Pro;
  src: url(./public/fonts/adobe-caslon-pro/ACaslonPro-Regular.otf);
}

@font-face {
  font-family: IvyPresto Display;
  src: url(./public/fonts/ivy-presto-display/ivy-presto-display-light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1342px;
  margin: auto;
  padding: 0 16px;
}

.cursor-pointer {
  cursor: pointer;
}

/* font family */
.font-circular-std {
  font-family: Circular Std;
  font-weight: 450;
}

.font-adobe-caslon-pro {
  font-family: Adobe Caslon Pro;
}

.font-playfair-display {
  font-family: Playfair Display;
}

.font-ivy-presto-display {
  font-family: IvyPresto Display;
}

/* Font Weight */
.font-normal {
  font-weight: 400;
}

.font-thin {
  font-weight: 100;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}
/* Position */
.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

/* Z Index */
.z-999 {
  z-index: 999;
}

/* Font Size */
.text-7 {
  font-size: 14px;
}

.text-8 {
  font-size: 16px;
}

.text-9 {
  font-size: 18px;
}

.text-10 {
  font-size: 20px;
}

.text-11 {
  font-size: 22px;
}

.text-16 {
  font-size: 32px;
}

.text-32 {
  font-size: 64px;
}

/* Colors */
.text-blue-primary {
  color: #0071b4;
}

.text-gray-primary {
  color: #4c5163;
}

.text-gray-primary {
  color: #373a36;
}

.text-gray-secondary {
  color: #373a36;
}

.text-gray-tertiary {
  color: #9f9f9f;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #0000;
}

/* Background */

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #ffffff;
}

.bg-slate {
  background-color: #f0f7fb;
}

.bg-blue-primary {
  background-color: #0071b4;
}

.bg-green-secondary {
  background-color: #79ae48;
}

.bg-gray-secondary {
  background-color: #55585a;
}

.bg-gray-tertiary {
  background-color: #9f9f9f;
}

.no-repeat {
  background-repeat: no-repeat;
}

.bg-size-cover {
  background-size: cover;
}

/* Display */
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: end;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Sizes */
.size-6 {
  width: 12px;
  height: 12px;
}

.size-7 {
  width: 14px;
  height: 14px;
}

.size-9 {
  width: 18px;
  height: 18px;
}

.size-12 {
  width: 24px;
  height: 24px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.max-size-full {
  max-width: 100%;
  max-height: 100%;
}

/* Width */

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.w-half {
  width: 50%;
}

.max-w-full {
  max-width: 100%;
}

.max-w-165 {
  max-width: 330px;
}

.max-w-175 {
  max-width: 350px;
}

.w-2 {
  width: 4px;
}

.w-88 {
  width: 166px;
}

.w-12 {
  width: 24px;
}

.w-28 {
  width: 56px;
}

.w-38 {
  width: 72px;
}

.w-65-p {
  width: 65%;
}

/* Height */

.h-full {
  height: 100%;
}

.h-2 {
  height: 4px;
}

.h-2 {
  height: 4px;
}

.h-17 {
  height: 34px;
}

.max-h-139 {
  max-height: 278px;
}

.h-88 {
  height: 166px;
}

.h-12 {
  height: 24px;
}

/* Gap */

.gap-3 {
  gap: 6px;
}

.gap-4 {
  gap: 8px;
}

.gap-5 {
  gap: 10px;
}

.gap-6 {
  gap: 12px;
}

.gap-7 {
  gap: 14px;
}

.gap-8 {
  gap: 16px;
}

.gap-10 {
  gap: 20px;
}

.gap-12 {
  gap: 24px;
}

.gap-16 {
  gap: 32px;
}

.gap-22 {
  gap: 44px;
}

.gap-37 {
  gap: 74px;
}

/* Margin */
.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: 8px;
}

.mt-6 {
  margin-top: 12px;
}

.mt-8 {
  margin-top: 16px;
}

.mt-6 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 30px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-7 {
  margin-bottom: 14px;
}

.mb-9 {
  margin-bottom: 18px;
}

.mb-10 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 30px;
}

.mb-16 {
  margin-bottom: 32px;
}

.mb-20 {
  margin-bottom: 40px;
}

/* Padding */

.p-2 {
  padding: 4px;
}

.px-2 {
  padding-inline: 4px;
}

.px-23 {
  padding-inline: 46px;
}

.py-3 {
  padding-block: 6px;
}

.py-7 {
  padding-block: 14px;
}

.pr-7 {
  padding-right: 14px;
}

.pr-10 {
  padding-right: 20px;
}

.pr-13 {
  padding-right: 26px;
}

.pl-7 {
  padding-left: 14px;
}

.pl-10 {
  padding-left: 20px;
}

.pl-13 {
  padding-left: 26px;
}

.pt-4 {
  padding-top: 8px;
}

.pt-5 {
  padding-top: 10px;
}

.pt-8 {
  padding-top: 16px;
}

.pt-10 {
  padding-top: 20px;
}

.pt-15 {
  padding-top: 30px;
}

.pt-20 {
  padding-top: 40px;
}

.pb-0 {
  padding-top: 0;
}

.pb-4 {
  padding-bottom: 8px;
}

.pb-5 {
  padding-bottom: 10px;
}

.pb-8 {
  padding-bottom: 16px;
}

.pb-10 {
  padding-bottom: 20px;
}

.pb-12 {
  padding-bottom: 24px;
}

.pb-20 {
  padding-bottom: 40px;
}

.pb-21 {
  padding-bottom: 42px;
}

.pb-40 {
  padding-bottom: 80px;
}

.hover-light-gray:hover {
  background-color: rgb(210, 208, 208);
}

.outline-none {
  outline: none;
}

/* Order */
.border-none {
  border: none;
}

.border-slate {
  border: 1px solid #f0f7fb;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}
/* Radius */
.rounded-full {
  border-radius: 100%;
}

.rounded-5 {
  border-radius: 20px;
}

.rounded-2 {
  border-radius: 8px;
}

/* Object Fit */
.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.place-holder-white::placeholder {
  color: white;
}

@media screen and (min-width: 640px) {
  .sm-hidden {
    display: none;
  }

  .sm-w-half {
    width: 50%;
  }

  .sm-flex {
    display: flex;
  }

  .sm-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-justify-content-center {
    justify-content: center;
  }

  .sm-w-full {
    width: 100%;
  }

  .sm-w-82 {
    width: 164px;
  }

  .sm-max-h-full {
    max-height: 100%;
  }

  .sm-grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-gap-8 {
    gap: 16px;
  }

  .sm-gap-15 {
    gap: 30px;
  }

  .sm-gap-22 {
    gap: 44px;
  }

  .sm-text-left {
    text-align: left;
  }

  .sm-text-12 {
    font-size: 24px;
  }

  .sm-text-16 {
    font-size: 32px;
  }

  .sm-pt-16 {
    padding-top: 32px;
  }

  .sm-pt-8 {
    padding-top: 16px;
  }

  .sm-pb-10 {
    padding-bottom: 20px;
  }

  .sm-pb-25 {
    padding-bottom: 50px;
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-text-32 {
    font-size: 64px;
  }
  .sm-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .md-w-half {
    width: 50%;
  }
  .md-block {
    display: block;
  }
  .md-hidden {
    display: none;
  }
  .md-flex-col {
    flex-direction: column;
  }
  .md-align-items-end {
    align-items: end;
  }
  .md-gap-7 {
    gap: 14px;
  }
  .md-gap-24 {
    gap: 48px;
  }
  .md-gap-50 {
    gap: 100px;
  }
  .md-bg-slate {
    background-color: #f0f7fb;
  }
  .md-pt-7 {
    padding-top: 14px;
  }
  .md-pb-7 {
    padding-bottom: 14px;
  }
  .md-pt-40 {
    padding-top: 80px;
  }
  .md-mb-10 {
    margin-bottom: 20px;
  }
  .md-mb-19 {
    margin-bottom: 38px;
  }
  .md-mb-20 {
    margin-bottom: 40px;
  }
  .md-mb-32 {
    margin-bottom: 64px;
  }
  .md-text-right {
    text-align: right;
  }
  .md-text-9 {
    font-size: 18px;
  }
  .md-text-10 {
    font-size: 20px;
  }
  .md-text-12 {
    font-size: 24px;
  }
  .md-text-18 {
    font-size: 36px;
  }
  .md-text-24 {
    font-size: 48px;
  }
  .md-text-28 {
    font-size: 56px;
  }
  .md-text-30 {
    font-size: 60px;
  }
  .md-pt-20 {
    padding-top: 40px;
  }
  .md-pt-30 {
    padding-top: 60px;
  }
  .md-pb-12 {
    padding-bottom: 24px;
  }
  .md-pb-15 {
    padding-bottom: 30px;
  }
  .md-pb-20 {
    padding-bottom: 40px;
  }
  .md-pb-25 {
    padding-bottom: 50px;
  }
  .md-pb-30 {
    padding-bottom: 60px;
  }
  .md-pb-40 {
    padding-bottom: 80px;
  }
  .md-w-full {
    width: 100%;
  }
  .md-w-100 {
    width: 200px;
  }
  .md-max-w-176 {
    max-width: 352px;
  }
  .md-max-w-197 {
    max-width: 394px;
  }
  .md-h-100 {
    height: 200px;
  }
  .md-flex-row {
    flex-direction: row;
  }
  .md-align-item-base {
    align-items: baseline;
  }
  .md-align-item-end {
    align-items: end;
  }
  .md-justify-content-end {
    justify-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .lg--top-40 {
    top: -80px;
  }
  .lg-w-110 {
    width: 220px;
  }
  .lg-h-110 {
    height: 220px;
  }
  .lg-pt-57 {
    padding-top: 114px;
  }
  .lg-text-24 {
    font-size: 48px;
  }
  .lg-text-28 {
    font-size: 56px;
  }
  .lg-text-30 {
    font-size: 60px;
  }
  .lg-pt-0 {
    padding-top: 0px;
  }
  .lg-pt-8 {
    padding-top: 16px;
  }
  .lg-pt-75 {
    padding-top: 150px;
  }
  .lg-pt-26 {
    padding-top: 52px;
  }
  .lg-pb-12 {
    padding-bottom: 24px;
  }
  .lg-pb-32 {
    padding-bottom: 64px;
  }
  .lg-pb-38 {
    padding-bottom: 76px;
  }
  .lg-pb-40 {
    padding-bottom: 80px;
  }
  .lg-pb-55 {
    padding-bottom: 110px;
  }
  .lg-text-10 {
    font-size: 20px;
  }
  .lg-text-12 {
    font-size: 24px;
  }
  .lg-row-gap-60 {
    row-gap: 120px;
  }
  .lg-grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .lg-gap-12 {
    gap: 24px;
  }
  .lg-gap-16 {
    gap: 32px;
  }
  .lg-gap-24 {
    gap: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .xl-w-135 {
    width: 270px;
  }
  .xl-h-135 {
    height: 270px;
  }
  .xl-text-32 {
    font-size: 64px;
  }
  .xl-text-28 {
    font-size: 52px;
  }
  .xl-gap-36 {
    gap: 72px;
  }
}
