@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@font-face {
  font-family: Circular Std;
  src: url(./fonts/Circular-Std-Font/CircularStd-Book.woff);
}
@font-face {
  font-family: Adobe Caslon Pro;
  src: url(./fonts/adobe-caslon-pro/ACaslonPro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1342px;
  margin: auto;
  padding: 0 16px;
}

.cursor-pointer {
  cursor: pointer;
}

/* font family */
.font-circular-std {
  font-family: Circular Std;
  font-weight: 450;
}

.font-adobe-caslon-pro {
  font-family: Adobe Caslon Pro;
}

.font-playfair-display {
  font-family: Playfair Display;
}

/* Font Weight */
.font-normal {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

/* Font Size */
.text-8 {
  font-size: 16px;
}

.text-16 {
  font-size: 32px;
}

.text-32 {
  font-size: 64px;
}

/* Colors */
.text-blue-primary {
  color: #0071b4;
}

.text-gray-primary {
  color: #3d5368;
}

/* Display */
.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Sizes */
.size-6 {
  width: 12px;
  height: 12px;
}

.size-12 {
  width: 24px;
  height: 24px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.max-size-full {
  max-width: 100%;
  max-height: 100%;
}

.w-full {
  width: 100%;
}

.w-12 {
  width: 24px;
}

.w-38 {
  width: 72px;
}

.max-h-139 {
  max-height: 278px;
}

.h-12 {
  height: 24px;
}

/* Gap */

.gap-3 {
  gap: 6px;
}

.gap-5 {
  gap: 10px;
}

.gap-8 {
  gap: 16px;
}

.gap-22 {
  gap: 44px;
}

.gap-10 {
  gap: 20px;
}

/* Padding */

.p-2 {
  padding: 4px;
}

.px-2 {
  padding-inline: 4px;
}

.py-3 {
  padding-block: 6px;
}

.py-7 {
  padding-block: 14px;
}

.pt-8 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 40px;
}

.pb-21 {
  padding-bottom: 42px;
}

.hover-light-gray:hover {
  background-color: rgb(210, 208, 208);
}

/* Radius */
.rounded-full {
  border-radius: 100%;
}

/* Object Fit */
.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .sm-hidden {
    display: none;
  }

  .sm-flex {
    display: flex !important;
  }

  .sm-flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .sm-justify-content-center {
    justify-content: center;
  }

  .sm-w-full {
    width: 100%;
  }

  .sm-w-82 {
    width: 164px;
  }

  .sm-max-h-full {
    max-height: 100%;
  }

  .sm-grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-gap-8 {
    gap: 16px;
  }

  .sm-gap-15 {
    gap: 30px;
  }

  .sm-gap-22 {
    gap: 44px;
  }

  .sm-text-left {
    text-align: left;
  }

  .sm-pt-26 {
    padding-top: 52px;
  }

  .sm-pt-57 {
    padding-top: 114px;
  }

  .sm-pt-8 {
    padding-top: 16px;
  }

  .sm-pb-15 {
    padding-bottom: 30px;
  }

  .sm-pb-55 {
    padding-bottom: 110px;
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-text-32 {
    font-size: 64px;
  }
}
